<!-- course_instance/new.html.erb -->
<% content_for :javascript do %>
  <%= javascript_include_tag 'views/course_instances/new' %>
<% end %>

<div class="page-header">
  <% if @course.new_record? %>
    <h1>Create course</h1>
  <% else %>
    <h1><%= @course.code %> <%= @course.name %> - Create course instance</h1>
  <% end %>
</div>

<%= render :partial => 'form' %>
