<!-- courses/index.html.erb -->

<h1><%=t :courses_index_heading %></h1>

<table>
  <% for course in @courses %>
    <tr>
      <td><%= link_to course.full_name, course %></td>
      <td class="trash">
        <% if is_admin?(current_user) %>
          <%= link_to image_tag('trash.png', :alt => 'Destroy'), course, method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>

  <% if @allow_create %>
    <tr>
      <td><%= link_to t(:course_create_link), new_course_instance_path, :class => 'new' %></td>
      <td></td>
    </tr>
  <% end %>
</table>
